################
# UE Generated #
################

*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate/
*/Saved
srcBuildingEscape/Content/StarterContent/


################
# VS Generated #
################

*/.vs/
*.uasset
*.cs
*.uproject
*.sln
*.umap
*.ini
Building
*.ipch
*.db
*.suo
*.log
*.user
*.filters
*.vcxproj
*.pdb
*.idb
*.obj
*.tlog
*.lastbuildstate
*.txt
*.opendb
*.ilk
*.exe
